body{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: aqua;
}

.container h1{
    font-size: 5rem;
    margin-bottom: 5rem;
}
.images{
    font-size: 9rem;
    padding-right: 20px;
    
}
.span1{
    font-size: 3rem;
    position: relative;
    right: 15px;
    top: 25px;
    padding-right: 90px;
}
#s2{
    left: 20px;
}
#s3{
    left: 80px;
}
#user{
    margin-top: 55px;

}
.pressed{
    transform: scale(1.3);
}
.spanEl1{
    display: inline-block;
}
.spanEl2{
    display: inline-block;
}
.spanEl3{
    display: inline-block;
}
@media only screen and (max-width:481px)
{
    #s1{
        position: relative;
    top: -192px;
    left: 64px;
    }
    #s2{
        position: relative;
    top: -192px;
    left: 98px;
    }
    #s3{
      
    position: relative;
    top: -10px;
    left: -71px;
    }
    .spanEl3{
        padding-top: 20px;
    }
}